.Localizacao {
    position: absolute;
    width: 238px;
    height: 160px;
    left: 380px;
    top: 26.5px;

}

.Localizacao__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.Localizacao__text {
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    top: 60px;


    color: #FFFFFF;
}

@media (min-width: 320px) and (max-width: 425px) {

    .Localizacao__title {
        position: absolute;
        width: 97.24px;
        height: 38.06px;
        left: -350px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        
    }

    .Localizacao__text {
        position: absolute;
        width: 287px;
        height: 110px;
        left: -350px;
        right: 0px;
        bottom: 0px;
        top: 50px;

        
    }
}