.prateleira {
    position: absolute;
    width: 1248px;
    height: 407px;
    left: 336px;
    top: 536px;

}

.prateleira__itens {
    position: relative;
    display: block;
    width: 240px;
    height: 240px;
    float: left;
    top: 100px;
    left: 50px;
}

.prateleira__text {
    position: absolute;
    width: 148px;
    height: 28px;
    left: 80px;
    top: 20px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
}

.prateleira__Arrow-left {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    top: 203.5px
}

.prateleira__Arrow-right {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1226px;
    top: 203.5px;
}

.prateleira__img {
    width: 180px;
    height: 160px;
}

.prateleira__name {
    position: relative;
    width: 190px;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    text-align: center;

    color: #7A7A7A;
}

.prateleira__price {
    position: relative;
    width: 190px;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #000000;
}

.prateleira__button {
    position: absolute;
    width: 125.28px;
    height: 32.42px;
    top: 220px;
    left: 30px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;

    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    position: absolute;
    left: 90px;
    visibility: hidden;
}

.show {
    position: absolute;
    left: 90px;
}

.prateleira__icon {
    position: absolute;
    top: -508px;
    bottom: 500px;
    left: 0px;
    right: 0px;

    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 425px) {
    .prateleira {
        position: absolute;
        width: 400px;
        height: 334px;
        left: 0px;
        top: 288px;
    }

    .prateleira__text {
        position: absolute;
        width: 150px;
        height: 29.33px;
        left: 20px;
        top: 100px;
    }

    .prateleira__Arrow-left {
        visibility: hidden;
    }

    .prateleira__Arrow-right {
        visibility: hidden;
    }

    .prateleira__itens {
        position: relative;
        display: block;
        width: 170px;
        height: 263.66px;
        left: 0px;
        top: 125px;
    }

    .prateleira__name {
        width: 120px;
        left: 25px;
    }

    .prateleira__button {
        left: 12.5px;
        right: 0px;
    }

    .prateleira__price {
        position: absolute;
        left: -20px;
        right: 0px;
        top: 195px;
        bottom: 0px;
    }

    .prateleira__icon {
        position: absolute;
        top: -250px;
        bottom: 0px;
        left: -75px;
        right: 0px;

        }
}